<!-- Modal -->
<div class="modal fade modal-resize" id="authModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-resize">
    <div class="modal-content">
    
    <div class="modal-header modal-primary">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Login</h4>
    </div>
    
    <form id="login-email-form" action="getpost.php" method="post">
	    <div class="modal-body">
		<div class="form-group">
			<div class="input-group">
				 <span class="input-group-addon">@</span>
				 <input name="modal-email" class="form-control" id="modal-email" type="email" placeholder="Email"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				 <span class="input-group-addon">
				 	<span class="glyphicon glyphicon-lock"></span>
				 </span>
				 <input name="modal-passwd" class="form-control" id="modalpassword" type="password" placeholder="Senha" />
			</div>
		</div>
		<div><a> Esqueci minha Senha</a></div>
			
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		  <input id="submit-login" type="submit" class="btn btn-success " value="Entrar" />
		</div>
     </form> 
     
    </div>
  </div>
</div>