<!-- *** Cadastro de usuario *** -->
<div class="container-cadastro">
<h1 class="text-center title">Mais um passo...</h1>
<form action="#" method="post">
	<div class="panel-heading borda-redonda">
		<h3 class="panel-title">
			1. Crie sua conta
		</h3>
	</div>
	<div id="teste" class="panel-body" >
		
			<div class="form-group">
				<input class="form-control" type="text" name="email" placeholder="EMAIL">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="nome" placeholder="NOME">
			</div>
		
			<div class="form-group">
				<input class="form-control many-input" type="password" name="senha" placeholder=" SENHA">
				<input class="form-control many-input right" type="password" name="confirmation" placeholder=" REPITA A SENHA">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="cpf" placeholder="CPF">
			</div>
	</div>
		<div class="panel-heading borda-redonda">
			<h3 class="panel-title">
				2. Endereço para entrega
			</h3>
		</div>
		<div class="panel-body">
				<div class="form-group">
					<input class="form-control" type="text" name="cep" placeholder="CEP"> 
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="logradouro" placeholder="ENDEREÇO">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="bairro" placeholder="BAIRRO">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="cidade" value="GURUPI" disabled>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="numero" placeholder="N°">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="complemento" placeholder="COMPLEMENTO (Ex.: Quadra..., Portão branco..., Em frente a...)">
				</div>
				<div class="form-group">
					<select name="operadora" class="form-control many-input">
						<option disabled selected>Operadora</option>
						<option >Oi</option>
						<option >Vivo</option>
						<option >Claro</option>
						<option >Tim</option>
					</select>
					<input class="form-control many-input right" type="text" name="celular" placeholder="CELULAR">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="fixo" placeholder="TELEFONE FIXO">
				</div>
		</div>
		<div class="panel-heading borda-redonda">
			<h3 class="panel-title">
				3. Forma de pagamento
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group-radio">
				<div class="form-radio">
					<input class="form-control-radio" type="radio" name="cartao-visa">
					<div class="visa radio-img"></div>
				</div>
				<div class="form-radio">
					<input class="form-control-radio" type="radio" name="cartao-master">
					<div class="master radio-img"></div>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="numcartao" placeholder="NÚMERO DO CARTÃO">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="nomecartao" placeholder="NOME IMPRESSO NO CARTÃO">
			</div>
			<div class="form-group info-cart">
				<input class="form-control" type="text" name="codecartao" placeholder="CÓDIGO DO VERSO">
				<span id="verso-cart-interroga">?</span>
				<img alt="Verso Cartão" src="img/verso-cart.png">
			</div>
			<div class="form-group info-cart">
				 <span>
				 	Validade
				 </span>
				 <input class="form-control" type="text" name="mescartao" placeholder=" MÊS">
				 <input class="form-control right" type="text" name="anocartao" placeholder=" ANO">
			</div>
		</div>
		<div class="form-group">
			<img alt="Pag Seguro UOl" src="img/selo-pagseguro.gif">
		</div>
		<div class="form-group">
		<input type="submit" class="waves-effect waves-button waves-light waves-float btn btn-cadastro" name="submit" value="Finalizar" />
		</div>
	</form>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#verso-cart-interroga").hover(function(){
			$(".info-cart img").attr("style", "display:inline");
		},
		function(){
			$(".info-cart img").attr("style", "display:none");
		});
	});
	</script>
</div>

			