<div class="footer" >
	<div class="container container-footer">
		<div class="box-footer">
			<h2>Certificados:</h2>
			<div class="selo-pagseguro"></div>
		</div>
		<div class="box-footer">
			<h2>Fale conosco:</h2>
			<p id="tel-contato">(63) 3312-5864</p>
			<p>contato@limpezafacil.com</p>
			<div>	
			<h3>Conheça:</h3>
			<a href="#"> - Política de privacidade</a>
			</div>
		</div>
		<div class="box-footer">
			<h2>Siga-nos:</h2>
			<a href="https://www.facebook.com/limpezafacilgpi" target="_blank">
				<div class="fb"></div>
			</a>
		</div>
		<div class="box-footer">
			<h2>Pague com:</h2>
			<div class="visa"></div>
			<div class="master"></div>
			
		</div>
	</div>
 </div>