<div id="wrap"  class="text-center container-prod">
			<div id="box-category">
				<h2 class="title">O que vendemos:</h2>
					<div class="box-category">
						<div class="baldes"></div>
						<h4>Baldes e Bacias</h4>
					</div>
					<div class="box-category">
						<div class="esponjas"></div>
						<h4>Esponjas</h4>
					</div>
					<div class="box-category">
						<div class="sua-roupa"></div>
						<h4 id="sales-h4">Para sua Roupa</h4>
					</div>
					<div class="box-category">
						<div class="vass-rod"></div>
						<h4>Vassouras e rodos</h4>
					</div>
					<div class="box-category">
						<div class="sua-casa"></div>
						<h4>Para sua casa</h4>
					</div>
					<div class="box-category">
						<div class="luvas"></div>
						<h4>Luvas</h4>
					</div>
				</div>
			<div id="box-prod">
			<ul>
				<li id="1" class="produto">
					<div  ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/a1.png"
							alt="Limpeza Fácil" />
					
						<br clear="all" />
						<div>
						<span class="name-prod title-prod">
							Mac/OS X PriceMac/OS X PriceMac/OS X Price 
						</span>
							<div class="price-prod">
								<b> R$ </b>
								<span class="price">1000,01</span>
							</div>
						</div>
						<input type="hidden" value="Mac Muito bom quem tem isso e aquilo de acesório - Mac Qualidades- Muitas Qualidades"/>
					</div>
					<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="2" class="produto">
					<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/5.png"
							alt="Limpeza Fácil" />
					
					<br clear="all" />
					<div>
					<span class="name-prod title-prod">IPhone 3GS </span>
					<div class="price-prod">
						<b> R$ </b>
						<span class="price">500,00 </span>
						</div>
					</div>
					<input type="hidden" value="IPhone Muito bom - IPhone Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="3" class="produto">
					<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/1.png"
							alt="Limpeza Fácil" />
					
					<br clear="all" />
					<div><span class="name-prod title-prod">Apple IPad  </span>
						<div class="price-prod">
						<b> R$ </b>
						<span class="price">450,02 </span>
						</div>
					</div>
					<input type="hidden" value="IPad Muito bom - IPad Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="4" class="produto">
					<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/6.png"
							alt="Limpeza Fácil" />
					
					<br clear="all" />
					<div>
					<span class="name-prod title-prod">Mac NoteBook  </span>
						<div class="price-prod">
						<b> R$ </b><span class="price">1200,00 </span>
						</div>
					</div>
					<input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="6" class="produto">
					<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
							
						<img 
							width="80" 
							src="img/cart/5.png"
							alt="Limpeza Fácil" />
						<br clear="all" />
						<div>
							<span class="name-prod title-prod">IPhone 4GS</span>
							<div class="price-prod">
							<b> R$ </b><span class="price">800,00 </span>
							</div>
						</div>
						<input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades"/>
					</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="7" class="produto">
				<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/7.png"
							alt="Limpeza Fácil" />
					<br clear="all" />
					<div>
					<span class="name-prod title-prod"> Bag : Buy Now Price </span>
						<div class="price-prod">
						<b> R$ </b><span class="price">45,05</span>
						</div>
					</div>
					<input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="15" class="produto">
				<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/7.png"
							alt="Limpeza Fácil" />
					<br clear="all" />
					<div>
					<span class="name-prod title-prod"> Bag : Buy Now Price </span>
						<div class="price-prod">
						<b> R$ </b><span class="price">45,05</span>
						</div>
					</div>
					<input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				<li id="16" class="produto">
				<div ident="#dialog" name="modal" class="body-prod" data-toggle="modal" data-target="#prodModal">
						<img 
							width="80" 
							src="img/cart/7.png"
							alt="Limpeza Fácil" />
					<br clear="all" />
					<div>
					<span class="name-prod title-prod"> Bag : Buy Now Price </span>
						<div class="price-prod">
						<b> R$ </b><span class="price">45,05</span>
						</div>
					</div>
					<input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades"/>
				</div>
				<button class="waves-effect waves-button waves-light waves-float btn btn-prod">Adicionar</button>
				</li>
				
			</ul> 
		</div>
	</div>		
	
	<script type="text/javascript">
	$(document).ready(function() {
		$(".body-prod").click(function(){
			
			var id = $(this).parent().attr('id');
			var name = $(this).find('div .name-prod').html();
			var description = $(this).find('input').val();
			var price = $(this).find('.price').html();
			var img = $(this).find('img').attr('src');
			
			$('#md-produtos ul li').attr('id', id);
			$('#md-produtos img').attr('src', img);
			$('#md-produtos .name-prod').html(name);
			$('#md-price-prod .price').html(price);
			$('#md-produtos input').remove();
			$('#md-produtos').append('<input type="hidden" value="' + id + '"/>');
			
			//Exlui span
			$('#md-produtos p').html('');
			
			var arrayDescr = description.split('-');
			for ( var int = 0; int < arrayDescr.length; int++) {
				$('#md-produtos p').append('<span>- '+ arrayDescr[int] +'</span>');
			}
			});	
	  });
	</script>